// Component styles from examples.scss
.example {
  &:not(:first-child) {
    margin-top: 1.5rem;
  }

  .tab-content {
    // Use CoreUI CSS variable directly. If you prefer a configurable prefix,
    // define $prefix in `abstracts/_variables.scss` and @use it here.
    background-color: var(--cui-tertiary-bg);
  }

  & + p {
    margin-top: 1.5rem;
  }

  .preview {
    + p {
      margin-top: 2rem;
    }

    > .form-control {
      + .form-control {
        margin-top: .5rem;
      }
    }

    > .nav + .nav,
    > .alert + .alert,
    > .navbar + .navbar,
    > .progress + .progress {
      margin-top: 1rem;
    }

    > .dropdown-menu {
      position: static;
      display: block;
    }

    > :last-child {
      margin-bottom: 0;
    }

    // Images
    > svg + svg,
    > img + img {
      margin-left: .5rem;
    }

    // Buttons
    .col > .btn,
    .col-auto > .btn,
    > .btn,
    > .btn-group {
      margin: .25rem .125rem;
    }
    > .btn-toolbar + .btn-toolbar {
      margin-top: .5rem;
    }

    // List groups
    > .list-group {
      max-width: 400px;
    }

    > [class*="list-group-horizontal"] {
      max-width: 100%;
    }
  }
}