// Sidebar styles
.sidebar {
  &-brand-full {
    margin-left: 3px;
  }

  &-header {
    min-height: calc(4rem + 1px);
    
    .nav-underline-border {
      --cui-nav-underline-border-link-padding-x: 1rem;
      --cui-nav-underline-border-gap: 0;
    }

    .nav-link {
      display: flex;
      align-items: center;
      min-height: calc(4rem + 1px);
    }
  }

  &-toggler {
    margin-inline-start: auto;
  }

  &-narrow,
  &-narrow-unfoldable:not(:hover) {
    .sidebar-toggler {
      margin-inline-end: auto;
    }
  }
}